{{define "regalo.html"}}
<head>
    <title>...existing title...</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>
<div>
    <h2>Regalos</h2>
    <p>Si quieres hacernos un regalo, te sugerimos las siguientes opciones:</p>
    <p>Opcion 1: Transferencia directa. Nos ayudaras mucho a concretar nuestros sueños. Puedes transferir a alguna de las siguientes cuentas:</p>
    <ul>
        <li>asdfa</li>
        <li>qwerqtyqr</li>
    </ul>
    <p>Opcion 2: <a href="https://milistadenovios.cl/enviar.php?id=28778" target="_blank">milistadenovios.cl</a>. Puedes regalarnos lo que quieras de nuestra lista</p>
    <p>Si quieres regalarnos otra cosa, comunicate con:</p>
    <ul>
        <li>Sofia Bravo - Telefono: +56 9 3927 2399 (via whatsapp)</li>
    </ul>
</div>
{{end}}