{{define "regalo.html"}}
<div class="max-w-xl mx-auto bg-white p-6 rounded shadow mb-4 flex flex-col items-center text-center">
    <h2 class="text-xl text-green-700 font-bold mb-2">Regalos</h2>
    <p class="mb-2">Si quieres hacernos un regalo, te sugerimos las siguientes opciones:</p>
    <p class="mb-2">Opción 1: <span class="font-semibold">Transferencia directa</span>. Nos ayudarás mucho a concretar nuestros sueños. Puedes transferir a alguna de las siguientes cuentas:</p>
    <ul class="list-disc list-inside mb-2">
            <li>asdfa</li>
            <li>qwerqtyqr</li>
        </ul>
        <p class="mb-2">Opción 2: <a href="https://milistadenovios.cl/enviar.php?id=28778" target="_blank" class="bg-green-700 text-white px-2 py-1 rounded hover:bg-green-800">milistadenovios.cl</a>. Puedes regalarnos lo que quieras de nuestra lista</p>
    <p class="mb-2">Si quieres regalarnos otra cosa, comunícate con:</p>
    <ul class="list-disc list-inside">
        <li>Sofia Bravo - Teléfono: +56 9 3927 2399 (vía whatsapp)</li>
    </ul>
</div>
{{end}}