{{define "regalo.html"}}
<style>
@font-face {
    font-family: 'Hobbiton';
    src: url('/static/hobbiton.ttf') format('truetype');
    font-display: swap;
}
@font-face {
    font-family: 'Chomsky';
    src: url('/static/Chomsky.otf') format('opentype');
    font-display: swap;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Hobbiton', serif !important;
    letter-spacing: 0.5px;
}
body, .font-sans, .text-gray-800, p, td, label, input, button, span, div, li, ul, table {
    font-family: 'Chomsky', Arial, sans-serif !important;
    font-weight: normal;
}
</style>
<div class="max-w-xl mx-auto bg-white p-6 rounded shadow mb-4 flex flex-col items-center text-center">
    <h2 class="text-xl font-bold mb-2" style="color:#2B463C;">Opciones de regalo</h2>
    <p class="mb-2">Si quieres hacernos un regalo, te sugerimos las siguientes opciones:</p>
    <p class="mb-2">Opción 1: <span class="font-semibold">Transferencia directa</span>. Nos ayudarás mucho a concretar nuestros sueños. Puedes transferir a alguna de las siguientes cuentas:</p>
    <ul class="list-disc list-inside mb-2">
            <li>Valentina Bravo - Cuenta Rut: 18.779.965-1</li>
            <li>Pablo Ferrada - Cuenta Rut: 18.841.005-7</li>
        </ul>
        <p class="mb-2">Opción 2: <a href="https://utmilistadenovios.cl/enviar.php?id=28778" target="_blank" style="background-color:#688F4E; color:#fff; border-radius:0.375rem; padding:0.25rem 0.75rem;" onmouseover="this.style.backgroundColor='#4e6b36'" onmouseout="this.style.backgroundColor='#688F4E'">milistadenovios.cl</a>. Puedes regalarnos lo que quieras de nuestra lista</p>
    <p class="mb-2">Si quieres regalarnos otra cosa, comunícate con:</p>
    <ul class="list-disc list-inside">
        <li>Sofia Bravo - Teléfono: +56 9 3927 2399 (vía whatsapp)</li>
    </ul>
</div>
{{end}}