<!DOCTYPE html>
<html>
<head>
    <title>Gracias</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-yellow-50 text-gray-800 font-sans">
    <div class="container mx-auto px-4 py-8 flex flex-col items-center text-center">
        <h2 class="text-3xl text-green-700 text-center mb-6 flex items-center justify-center">
            <img src="/static/images/love-175627.svg" class="w-8 h-8 mr-2" alt="Icono">
            Nos apena que no puedas asistir. Si quieres, puedes dejarnos un mensaje de buenos deseos o un regalito.
        </h2>
        <div class="mb-8 w-full flex flex-col items-center text-center">
            {{template "regalo.html"}}
        </div>
        <div class="mb-8 w-full flex flex-col items-center text-center">
            {{template "mensaje.html" .}}
        </div>
        <div class="mt-8 flex justify-center text-center">
            <form action="/" method="get">
                <button type="submit" class="bg-green-700 text-white px-6 py-2 rounded hover:bg-green-800">Volver al login</button>
            </form>
        </div>
    </div>
</body>
</html>